@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh; /*vh altura vw seria largura.*/
    background-color: rgba(0, 0, 0, 0.11);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline; /*passando o mouse em cima a escrita fica sublinhada.*/
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; /*espaçamento entre as frases*/
    padding-left: 30px; /*espaçamento do paragrafo*/
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.616);
    color: white;
}

section.imagem > p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.205);

}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}