@charset "UTF-8";


@media screen and (min-width:768px) {
    .burguer {
        display: none;
    }
} /*faz o menu sumir para tela de 768px*/

    menu {
        display: block;
    } /*mantem os titulos aparecendo mesmo quando o menu some*/

    menu > ul > li {
        display: inline-block;
    } /*ordenou os titulos em linha*/

    main {
        width: 768px;
    }